*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generali */

body{
    background-color: rgb(246,248,249);
    font-family: arial, sans-serif;
}

main{
    width: 65%;
    background-color: white;
    margin: 3% auto;
    border-radius: 10px;
}

#comandi, .todo_lists_container{
    padding: 2% 4%;
}

#divider{
    border: 1px solid rgb(246,248,249);
}

/* / generali */

/* colori */

.blue{
    background-color: rgb(97,172,235);
}

.white{
    background-color: white;
}

.violet{
    background-color: rgb(149,119,221);
}

.watergreen{
    background-color: rgb(123,189,170);
}

.orange{
    background-color: rgb(231,160,75);
}

.pink{
    background-color: rgb(202,107,159);
}

.green{
    background-color: rgb(181,199,73);
}

.lightgray{
    border-color: lightgray;
}

.gray_text{
    color: rgb(219, 219, 219);
}

.white_text{
    color: white;
}

/* colori */

/* testata */

header{
    height: 80px;
    background-color: white;
    line-height: 80px;
}

#logo{
    height: 50%;
    vertical-align: middle;
    margin-left: 20px;
}

#logo-text{
    font-size: 40px;
    font-weight: 600;
    vertical-align: middle;
}

/* / testata */

/* nav > comandi */

.button_style{
    padding: 1% 1.5%;
    border: 1px solid;
    border-radius: 5px;
    font-size: 15px;
}

#comandi a{
    text-decoration: none;
}



.blue.button_style{
    border-color: rgb(97,172,235);
}

.white.button_style{
    border-color: lightgray;
}

/* Hover pulsanti */

.blue.button_style:hover{
    background-color: white;
}

.blue.button_style a:hover{
    color: rgb(97,172,235);
}

.white.button_style a:hover{
    color: black;
}

.white.button_style:hover{
    color: black;
    border-color: black;
}

/* / Hover pulsanti */

/* Formattazione tasks */

.tasks_column{
    margin: 4% 0%;
}

.tasklist_title:before{
    content: "\25BE";
    margin-right: 2%;
}

.tasklist_title, .tasklist_title:before{
    font-size: 25px;
    font-weight: 600;
    color: rgb(68, 68, 68);
}

.task_row{
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    padding: 1.5% 0;
}



    /* status task */
.status_task{
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 15px;
    text-align: center;
    border: 1px solid;
    border-radius: 50%;
}
    /* Fatto ed incompleto */

.i_did{
    color: lightgreen;
    border-color: lightgreen;
}

.i_didn_t{
    color: red;
    border-color: red;
}

.i_did:before{
    content: "\2713";
}

.i_didn_t:before{
    content: "\2717";
}

.i_did, .i_didn_t{
    margin-right: 1%;
}

    /* / status task */

    /* task tag */

.task_tag{
    display: inline-block;
    padding: 0.5% 1%;
    font-size: 13px;
    color: white;
    border-radius: 25px;
}
        /* tag list */

.editorial_tag:before{
    content: "Editorial";
}

.q1_goals_tag:before{
    content: "Q1 Goals";
}

.recruiting_tag:before{
    content: "Recruiting";
}

.mobile_tag:before{
    content: "Mobile";
}

.website_tag:before{
    content: "Website";
}

.sales_tag:before{
    content: "Sales";
}
        /* tag list */

    /* / task tag */

/* / Formattazione tasks */